.navBar{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background:rgba(234, 180, 221,0.8); 
}

.navBar img{
	height: 100%;;
	width: 100px;
	padding-left: 10px;
	padding: 0px
}
.tags{
	display: flex;
}
.tags h3{
	margin-left: 10px;
	padding: 0.3em
}

.tags a{
	
	color: black;
	text-decoration: none;

}
.tags h3:hover{
	background:rgba(0,0,0,0.1);
}
